.container {
    padding:
        0
        var(--sp-xxl);
}

@media screen and (min-width: 768px) {
    .container {
        padding: 
        0
        var(--sp-2xl);
    }
}

@media screen and (min-width: 1440px) {
    .container {
        padding: 
        0
        var(--sp-4xl);
    }
}