.cabecalho {
    position: relative;
    background-color: var(--c-gray-900);
    padding-top: var(--sp-xl);
    padding-bottom: var(--sp-xl);
}

.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-branco-grande {
    display: none;
}

input[type="checkbox"]:checked ~ .menu-lista {
    display: block;
}

.menu-lista {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--c-gray-900);
}

.lista-links {
    list-style: none;
}

.lista-item a {
    color: var(--c-gray-0);
    font-size: var(--fs-xl);
}

.lista-item {
    margin-left: var();
    margin-bottom: var(--sp-xl);
}

@media screen and (min-width: 768px) {
    .menu-hamburger-label {
        display: none;
    }

    .menu-lista {
        display: block;
        position: static;
        padding: 0;
    }

    .lista-links {
        display: flex;
        flex-direction: row;
        gap: var(--sp-xxl);
    }

    .lista-item {
        margin: 0;
    }
}

@media screen and (min-width: 1440px) {
    .logo-branco-pequena {
        display: none;
    }

    .logo-branco-grande {
        display: block;
    }
}